@model JqTest.Models.Person
@{
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
<form class="addPersonForm form-horizontal">
    <h4>Add Person</h4>
    <div class="form-group">
        <label for="FirstName" class="col-sm-3 control-label">FirstName</label>
        <div class="col-sm-9">
            <input type="text" class="form-control col-sm-12" id="FirstName" placeholder="Enter FirstName">
        </div>
    </div>
    <div class="form-group">
        <label for="SecondName" class="col-sm-3 control-label">SecondName</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="SecondName" placeholder="Enter SecondName">
        </div>
    </div>
    <div class="row">
        <button id="btnSubmittAddPerson" type="submit" class="btn btn-default col-sm-4">Create</button>
        <button id="btnCancelAddPerson" type="button" class="btn btn-default col-sm-4 col-sm-offset-4">Close</button>
    </div>
</form>
