@model JqTest.Models.Person
@{
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
<form class="editPersonForm form-horizontal">
    <h4>Edit Person</h4>
    <input id="Id" type="hidden" name="Id" value="@Model.Id">
    <div class="form-group">
        <label for="FirstName" class="col-sm-3 control-label">FirstName</label>
        <input id="FirstName" type="text" name="FirstName" class="form-control col-sm-12" value=@Model.FirstName>
    </div>
    <div class="form-group">
        <label for="SecondName" class="col-sm-3 control-label">SecondName</label>
        <input id="SecondName" type="text" name="SecondName" class="form-control col-sm-12" value=@Model.SecondName>
    </div>
    <div class="row">
        <button id="btnSubmittEditPerson" type="submit" class="btn btn-default col-sm-4">Update</button>
        <button id="btnCancelEditPerson" type="button" class="btn btn-default col-sm-4 col-sm-offset-4" ">Close</button>
    </div>
</form>
