@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <button id="showAddPersonModal" type="button" class="btn btn-info btn-lg" data-target="#addModal">Add Person</button>
        <div class="modal fade" id="addModal">
            @Html.Partial("AddPerson")
        </div>
        <div class="modal fade" id="editPersonModal">
            @Html.Partial("EditPerson", new JqTest.Models.Person())
        </div>
    </div>
</div>
<div  id="searchInputsWrapper" class="row">
    <div class="col-md-12" ></div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="jqDateTable">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>FristName</td>
                    <td>SecondName</td>
                    <td>CreatedAt</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>
        </table>
    </div>
</div>
