@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <button id="showAddPersonModal" type="button" class="btn btn-info btn-lg" data-target="#addModal">Add Person</button>
        <div class="modal fade" id="addModal">
            @Html.Partial("AddPerson")
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="jqDateTable">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>FristName</td>
                    <td>SecondName</td>
                    <td>CreatedAt</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var filterValues = {};
        var table;
        function init(){
            table = $("#jqDateTable").DataTable({
                serverSide: true,
                bFilter: true,
                processing: true,
                columns: [
                    { data: "Id" },
                    { data: "FirstName" },
                    { data: "SecondName" },
                    { data: "CreatedAt" },
                    {
                        "title": "Edit",
                        "data": "Id",
                        "render": function (data, type, full, meta) {
                            return '<button class="btn btn-info href="@Url.Action("EditPerson", "Home")?id=' + data +'>Edit</button>';
                        }
                    },
                    {
                        "title": "Delete",
                        "data": "Id",
                        "render": function (data, type, full, meta) {
                            return '<button class="btn btn-warning personDeleteButton" value=' + data + '>Delete</button>';
                        }
                    }
                ],
                ajax: function (data, callback, settings) {
                    filterValues.draw = data.draw;
                    filterValues.start = data.start;
                    filterValues.length = data.length;
                    $.ajax({
                        url: '/Home/GetPersons',
                        method: 'GET',
                        data: filterValues
                    }).done(callback);
                }
            });
        }

        $("#jqDateTable").on('click', 'button.personDeleteButton', function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/Home/DeletePerson",
                data: '{id: ' +this.value + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    table.draw();
                },
                failure: function (response) {
                    alert(response.json());
                },
                error: function (response) {
                    alert(response.json());
                }
            });
        });

       $("#btnSubmittAddPerson").click(function (e) {
            e.preventDefault();
            var model = {};
            model.FirstName = $('#FirstName').val();
            model.SecondName = $('#SecondName').val();
            $.ajax({
                type: "POST",
                url: "/Home/AddPerson",
                data: '{model: ' + JSON.stringify(model) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#addModal').modal('toggle');
                    table.draw();
                },
                failure: function (response) {
                    alert(response.json());
                },
                error: function (response) {
                    alert(response.json());
                }
            });
        });

        $("#showAddPersonModal").click(function () {
            $('#addModal').modal('show'); });

        $("#btnCancelAddPerson").click(function () {
            $('#addModal').modal('toggle');
        });

        $('#addModal').on('hidden.bs.modal', function () {
            $(this).find("#FirstName,#SecondName").val('').end();
        });

        $(document).ready(init());
      
    </script>
}
