@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <button id="showAddPersonModal" type="button" class="btn btn-info btn-lg" data-target="#addModal">Add Person</button>
        <div class="modal fade" id="addModal">
            @Html.Partial("AddPerson")
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="jqDateTable">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>FristName</td>
                    <td>SecondName</td>
                    <td>CreatedAt</td>
                    <td>Edit</td>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var filterValues = {};
        var table;
        $(document).ready(function () {
         table = $("#jqDateTable").dataTable({
                serverSide: true,
                bFilter: true,
                processing: true,
                cashe: false,
                columns: [
                    { data: "Id" },
                    { data: "FirstName" },
                    { data: "SecondName" },
                    { data: "CreatedAt" },
                    {
                        "title": "Edit",
                        "data": "Id",
                        "render": function (data, type, full, meta) {
                            return '<a href="@Url.Action("EditPerson", "Home")?id='+data+'">Edit</a>';
                        }
                    }
                ],
                ajax: function (data, callback, settings) {
                    filterValues.draw = data.draw;
                    filterValues.start = data.start;
                    filterValues.length = data.length;
                    $.ajax({
                        url: '/Home/GetPersons',
                        method: 'GET',
                        data: filterValues
                    }).done(callback);
                }
            });
        });

        $("#btnSubmittAddPerson").click(function () {
            var model = {};
            model.FirstName = $('#FirstName').val();
            model.SecondName = $('#SecondName').val();
            $.ajax({
                type: "POST",
                url: "/Home/AddPerson",
                data: '{model: ' + JSON.stringify(model) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#addModal').modal('toggle');
                },
                failure: function (response) {
                    alert(response.json());
                },
                error: function (response) {
                    alert(response.json());
                }
            });
        });
        $("#showAddPersonModal").click(function () {
            $('#addModal').modal('show'); });

        $("#btnCancelAddPerson").click(function () {
            $('#addModal').modal('toggle'); });
    </script>
}
